@model IEnumerable<FarmCentral.Models.Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">My Products</h1>

<p class="text-center">
    <a asp-action="Add" class="btn btn-primary">Add new Product</a>
</p>

@*For the display of the farmer's products*@

<table class="table table-hover">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Product Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => product.Name)</td>
                <td>@Html.DisplayFor(modelItem => product.Type)</td>
            </tr>
        }
    </tbody>
</table>
