@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <img class="container" src=~/lib/Images/Farm.jpg/>
<div class="container" style="position:absolute; top:20%">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center" style="color:red; font-size:50px">WELCOME TO FARM CENTRAL!</h2>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="text-center">
                        <img style="max-width:50px;max-height:50px" src="~/lib/Images/warning.png" />
                    </div>
                    <div>
                        <p class="text-danger" style="text-align: center; color:red; font-size:large; font-weight:bold">ARE YOU AN EMPLOYEE OR A FARMER</p>
                    </div>
                    <div class="text-center" style="position:center">
                        <a asp-action="Farmer" class="btn btn-primary">Farmer</a>
                        <a asp-action="Employee" class="btn btn-primary">Employee</a>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</div>
